.body {
	background-color: #d7d7d7;
	font-family: "Open Sans", sans-serif;
}

.button {
	background-color: #e7e7e7;
	color: black;
	border: none;
	padding: 12px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	border-radius: 8px;
}

.img {
	width: 100%;
}

p {
	line-height: 1.6;
	font-size: 16px;
}

a {
	outline: none;
	text-decoration: none;
	padding: 2px 1px 0;
}

a:link {
	color: blue;
}

a:visited {
	color: purple;
}

a:focus,
a:hover {
	border-bottom: 1px solid;
}

a:active {
	color: red;
}

a[href*="#"] {
	background-size: 16px 16px;
	padding-right: 19px;
}
